<div class="container" style="margin-top:50px;">
        <div>
            <a class="backlink" (click)="goBack()">NEW YORK TODAY</a>
        </div>
          <br/>
        <div class=""row>
          <!-- <img *ngIf="news.multimedia.length > 0" src="{{news.multimedia[news.multimedia.length -1].url}}" width="550px"> -->
          <!-- <img *ngIf="news.multimedia.length === 0" src="assets/nytlogo.jpeg" width="350px"> -->
        </div>
        <!-- <h1>{{news.headline.main}}</h1> -->
<!-- <img *ngIf="news.multimedia.length > 0" src="{{news.multimedia[news.multimedia.length -1].url}}" width="350px"> -->
<!-- <img *ngIf="news.multimedia.length === 0" src="assets/nytlogo.jpeg" width="350px"> -->
      </div>

